/.vs
/x64
/The Sugarpunky Chocolate Disaster.vcxproj.user
/The Sugarpunky Chocolate Disaster.vcxproj.filters
/The Sugarpunky Chocolate Disaster.vcxproj
/Debug
/Release
/res/perFrameLog.txt
/res/perAppLog.txt
/res/saves/testSave.txt
/packages.config
/packages
/Doxyfile
